$primary-color: #19B5BC;
$background-color: #f7f7f7;
$text-color: #48545C;
$text-secondary-color: #383B41;
$text-tertiary-color: #727D85;
$input-size-mobile: 100%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin avatar-flex-box{
  margin-bottom: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
}
@mixin avatar-img {
  width: 37px;
  height: 37px;
}
@mixin style-button{
  background-color: $primary-color;
  padding: 8px 16px;
  border-radius: 1rem;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  border: none;
  margin-bottom: 16px;
}
@mixin style-info-p {
  & p {
    font-size: 12px;
    line-height: 1;
    color: $text-tertiary-color;
  }
}
@mixin style-info-h2 {
  & h2 {
    font-size: 14px;
    @include font-weight(500);
    line-height: 1;
    margin-bottom: 4px;
    color: $text-color;
  }
}
@mixin inputs($width){
  width: $width;
  border-radius: 0.25rem;
  padding: 9px 13px;
  font-size: 14px;
  font-family: Roboto,
  -apple-system,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  color: $text-tertiary-color;
  margin-bottom: 16px;
}
@mixin text-notify {
  width: 100%;
  text-align: right;
  color: #999999;
  font-size: 10px;
  margin-bottom: 15px;
  
  &.success {
    color: $primary-color;
  
    &:before {
      content: '✔';
      margin-right: 5px;
      width: 8px;
      height: 8px;
      padding: 2px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $primary-color;
      background-color: $primary-color;
      color: #fff;
    }
  }
  
  &.error {
    color: red;
  
    &:before {
      content: '✖';
      margin-right: 5px;
      width: 8px;
      height: 8px;
      padding: 2px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid red;
      background-color: red;
      color: #fff;
    }
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return $text-color;
  } @else {
    @return #fff;
  }
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}