.experiences__content{
  &-title {
    font-size: 20px;
    color: $text-secondary-color;
    @include font-weight(500);
    padding-bottom: 16px;
  }

  &-description {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
    &-like {
      font-size: 12px;
      line-height: 1;
      color: $text-color;
      & span {
        background-color: $primary-color;
        display: inline-block;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        width: 20px;
        height: 20px;
        padding: 3px;
        margin-right: 4px;
      }
    }
    &-price {
      font-size: 12px;
      line-height: 1;
      color: $text-color;
      & span {
        border-radius: 50%;
        border: 2px solid $text-tertiary-color;
        color: $text-tertiary-color;
        text-align: center;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 3px;
      }
    }
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
    &-img img{
      border-radius: 0.35rem;
      width: 100%;
    }
  }

  &-info{
    & h2 {
      font-size: 16px;
      color: $text-secondary-color;
      @include font-weight(500);
      margin-bottom: 16px;
    }
    &-doctor{
      @include avatar-flex-box;
      &-image img {
        border-radius: 0.35rem;
      }
      &-text{
        @include style-info-p;
        @include style-info-h2;
      }
    }
    &-button {
      @include style-button;
    }
  }

  &-ratings {
    margin-bottom: 47px;
    &-content {
      @include avatar-flex-box;
      @include style-info-h2;
      & h2 {
        margin: 2px 0 0 0;
      }
      & p {
        color: #FFBB4B;
      }
    }
    &-text{
      & p {
        font-size: 14px;
        line-height: 21px;
        color: $text-color;
      }
    }
  }

  &-form {
    & h2 {
      font-size: 20px;
      @include font-weight(500);
      margin-bottom: 16px;
    }
    &-content {
      & label {
        font-size: 14px;
        color: #333333;
        @include font-weight(500);
        margin-bottom: 4px;
        display: block;
        margin-bottom: 8px;
      }
      & select {
        @include inputs($input-size-mobile);
      }
      &-button {
        border-radius: 50%;
        border: none;
        height: 41px;
        margin-right: 7px;
        padding: 14px; 
        width: 41px;
        margin-bottom: 35px;
  
        &.active {
          background-color: $primary-color;
          color: #fff;
        }
      }
      &-yes{
        &-box{
          display: flex;
          flex-direction: column;
          gap: 0;
          & input {
            @include inputs($input-size-mobile);
            margin-bottom: 3px;
            border: 2px solid #E1E8EB;
          }
          &-notify {
            @include text-notify;
          }
        }
        &-comment{
          display: flex;
          flex-direction: column;
          & textArea {
            @include inputs($input-size-mobile);
            margin-bottom: 3px;
            border: 2px solid #E1E8EB;
            resize: none;
            height: 160px;
          }
          
          &-notify {
            @include text-notify;
          }
        }
      }
    }
    &-submit {
      @include style-button;
      width: 323px;
      text-transform: uppercase;
      padding: 15px 75px;
    }
  }
}