@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.experiences__user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.experiences__user-image {
  width: 50px;
  height: 50px;
}

.experiences__user-image img {
  border-radius: 50%;
}

.experiences__user-info p {
  color: #727D85;
  font-size: 12px;
  line-height: 1;
}

.experiences__user-info h2 {
  font-weight: 500;
  color: #48545C;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 4px;
}

.experiences__content-title {
  font-size: 20px;
  color: #383B41;
  font-weight: 500;
  padding-bottom: 16px;
}

.experiences__content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}

.experiences__content-description-like {
  font-size: 12px;
  line-height: 1;
  color: #48545C;
}

.experiences__content-description-like span {
  background-color: #19B5BC;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-right: 4px;
}

.experiences__content-description-price {
  font-size: 12px;
  line-height: 1;
  color: #48545C;
}

.experiences__content-description-price span {
  border-radius: 50%;
  border: 2px solid #727D85;
  color: #727D85;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 3px;
}

.experiences__content-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.experiences__content-images-img img {
  border-radius: 0.35rem;
  width: 100%;
}

.experiences__content-info h2 {
  font-size: 16px;
  color: #383B41;
  font-weight: 500;
  margin-bottom: 16px;
}

.experiences__content-info-doctor {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.experiences__content-info-doctor-image img {
  border-radius: 0.35rem;
}

.experiences__content-info-doctor-text p {
  color: #727D85;
  font-size: 12px;
  line-height: 1;
}

.experiences__content-info-doctor-text h2 {
  font-weight: 500;
  color: #48545C;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 4px;
}

.experiences__content-info-button {
  background-color: #19B5BC;
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 8px 16px;
}

.experiences__content-ratings {
  margin-bottom: 47px;
}

.experiences__content-ratings-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.experiences__content-ratings-content h2 {
  font-weight: 500;
  color: #48545C;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 4px;
}

.experiences__content-ratings-content h2 {
  margin: 2px 0 0 0;
}

.experiences__content-ratings-content p {
  color: #FFBB4B;
}

.experiences__content-ratings-text p {
  font-size: 14px;
  line-height: 21px;
  color: #48545C;
}

.experiences__content-form h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.experiences__content-form-content label {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
  margin-bottom: 8px;
}

.experiences__content-form-content select {
  border-radius: 0.25rem;
  color: #727D85;
  font-family: Roboto, -apple-system, Oxygen;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 9px 13px;
  width: 100%;
}

.experiences__content-form-content-button {
  border-radius: 50%;
  border: none;
  height: 41px;
  margin-right: 7px;
  padding: 14px;
  width: 41px;
  margin-bottom: 35px;
}

.experiences__content-form-content-button.active {
  background-color: #19B5BC;
  color: #fff;
}

.experiences__content-form-content-yes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.experiences__content-form-content-yes-box input {
  border-radius: 0.25rem;
  color: #727D85;
  font-family: Roboto, -apple-system, Oxygen;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 9px 13px;
  width: 100%;
  margin-bottom: 3px;
  border: 2px solid #E1E8EB;
}

.experiences__content-form-content-yes-box-notify {
  color: #999999;
  font-size: 10px;
  margin-bottom: 15px;
  text-align: right;
  width: 100%;
}

.experiences__content-form-content-yes-box-notify.success {
  color: #19B5BC;
}

.experiences__content-form-content-yes-box-notify.success:before {
  content: '✔';
  background-color: #19B5BC;
  border-radius: 50%;
  border: 1px solid #19B5BC;
  color: #fff;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  padding: 2px;
  width: 8px;
}

.experiences__content-form-content-yes-box-notify.error {
  color: red;
}

.experiences__content-form-content-yes-box-notify.error:before {
  content: '✖';
  background-color: red;
  border-radius: 50%;
  border: 1px solid red;
  color: #fff;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  padding: 2px;
  width: 8px;
}

.experiences__content-form-content-yes-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences__content-form-content-yes-comment textArea {
  border-radius: 0.25rem;
  color: #727D85;
  font-family: Roboto, -apple-system, Oxygen;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 9px 13px;
  width: 100%;
  margin-bottom: 3px;
  border: 2px solid #E1E8EB;
  resize: none;
  height: 160px;
}

.experiences__content-form-content-yes-comment-notify {
  color: #999999;
  font-size: 10px;
  margin-bottom: 15px;
  text-align: right;
  width: 100%;
}

.experiences__content-form-content-yes-comment-notify.success {
  color: #19B5BC;
}

.experiences__content-form-content-yes-comment-notify.success:before {
  content: '✔';
  background-color: #19B5BC;
  border-radius: 50%;
  border: 1px solid #19B5BC;
  color: #fff;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  padding: 2px;
  width: 8px;
}

.experiences__content-form-content-yes-comment-notify.error {
  color: red;
}

.experiences__content-form-content-yes-comment-notify.error:before {
  content: '✖';
  background-color: red;
  border-radius: 50%;
  border: 1px solid red;
  color: #fff;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  padding: 2px;
  width: 8px;
}

.experiences__content-form-submit {
  background-color: #19B5BC;
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 323px;
  text-transform: uppercase;
  padding: 15px 75px;
}

.experiences {
  background: #fff;
  padding: 35px;
}

.more__experiences__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__experiences__head-title {
  font-size: 18px;
  font-weight: 700;
  color: #383B41;
}

.more__experiences__head-seemore {
  font-size: 12px;
  color: #727D85;
}

.more__experiences__user {
  border: 1px solid #eeeeee;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 0.25rem;
  background-color: #fff;
}

.more__experiences__user-head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  gap: 10px;
}

.more__experiences__user-head-image {
  width: 50px;
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.more__experiences__user-head-image img {
  border-radius: 50%;
  width: 100%;
}

.more__experiences__user-head-info {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.more__experiences__user-head-info p {
  color: #727D85;
  font-size: 12px;
  line-height: 1;
}

.more__experiences__user-head-info h2 {
  font-weight: 500;
  color: #48545C;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 4px;
}

.more__experiences__user-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.more__experiences__user-footer p {
  font-size: 12px;
  color: #E78D45;
}

@media screen and (min-width: 768px) {
  .more__experiences__user-head-info {
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    max-width: 1024px;
    margin: 0 auto;
  }
  .experiences {
    margin-top: 107px;
    border-radius: 0.25rem;
  }
  .experiences__content-title h1 {
    font-size: 28px;
  }
  .experiences__content-images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .experiences__content-info h2 {
    font-size: 18px;
  }
  .experiences__content-form-submit {
    width: 232px;
    padding: 12px;
  }
  .more__experiences {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 107px;
  }
  .more__experiences__user-head-info {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

body {
  background-color: #f7f7f7;
  color: #48545C;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: font-weight(500);
}

a {
  color: #48545C;
  text-decoration: none;
}

section {
  max-width: 1600px;
  min-width: 375px;
  margin: 0 auto;
  padding: 16px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
/*# sourceMappingURL=main.css.map */